* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "mason-regular";
  src: url("../fonts/masonchronicles.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: mason-regular, sans-serif;
}

.slider {
  height: 100%;
}

.slider__layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.slider__layer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.3);
}

.slider__item {
  overflow: hidden;
}

.slider__wrapper {
  will-change: transform;
  transform-style: preserve-3d;
}

.slider__logo {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider__logo_top {
  margin-bottom: 2rem;
}

.slider__logo_top,
.slider__logo_middle,
.slider__logo_bottom {
  will-change: transform;
}

.slider__logo_top img {
  width: 50%;
}

.slider__logo_middle img {
  width: 80%;
}

.scroll__text {
  font-size: 2rem;
  user-select: none;
}

.cdproject__logo {
  width: 60%;
}

.showcase__video {
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.soundbutton {
  z-index: 10;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 30px;
  transition: 0.25s ease;
}

.soundbutton.paused {
  opacity: 0.25;
}
